@model IEnumerable<Item>
@{
    ViewData["Title"] = "Items";
}

<partial name="_Notifications" />
<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Items View</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Items" asp-action="New" class="btn btn-primary">
            <i class="bi bi-plus"></i> &nbsp; Add New Item
        </a>
    </div>
</div>
<table class="table table-bordered table-striped table-hover" style="width: 100%">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">
                Img
            </th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row" width="40%">@item.Name</td>
                <td width="25%">
                    @item.Price.ToString("C")

                    
                </td>
                <td>
                    <img src="~/images/@item.imagePath" style="width:48px" class="img-thumbnail" />
                </td>
                @* Category *@
                <td width="30%">
                    @if (item.Category != null && item.CategoryId != 1)
                    {
                        @item.Category.Name
                    }
                    else
                    {
                        <span class="text-danger">No Category</span>
					}
                    <span class="float-end me-4">
                        <a asp-controller="Items" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-success m-1">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a asp-controller="Items" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger m-1">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </span>
                </td>
            </tr>

        }
	</tbody>
</table>
